anonfile==0.2.7
async-lru==1.0.2
certifi==2021.10.8
charset-normalizer==2.0.7
greenlet==1.1.2
hurry==1.1
idna==3.3
importlib-metadata==4.0.1
jdatetime==3.6.4
lxml==4.6.4
psycopg2==2.9.1
pyaes==1.6.1
Pyrogram==1.2.9
pyromod==1.5
PySocks==1.7.1
requests==2.26.0
requests-toolbelt==0.9.1
SQLAlchemy==1.4.26
TgCrypto==1.2.2
tqdm==4.60.0
urllib3==1.26.7
zipp==3.6.0
